// =============================================================================
// > MODULES: TXT - LINKS
// =============================================================================

// ==================================================
// > LINKS
// ==================================================
a
    +font(primary)
    text-decoration: none
    position: relative

    &:not([class]),
    &.underlined
        &::after
            content: ""
            +absolute(bottom 0 right 100%)
            +size(0, 1px)
            background: color(primary)
            transition: width .2s ease, right 0s ease .2s

        &:hover::after
            width: 100%
            right: 0
            transition: all .2s ease

    // ========== UNDERLINED ========== //
    &.underlined

        &::after
            width: 100%
            right: 0
            transition: all .2s ease

        &:hover::after
            width: 0
            right: 100%
            transition: width .2s ease, right 0s ease .2s

    nav &::after
        display: none


// ==================================================
// > CROCHED LINK
// ==================================================
.croched-link
    text-decoration: none
    +font(light)
    position: relative
    color: inherit
    transition: all .35s ease !important
    text-transform: none
    font-size: 1em

    &::before,
    &::after
        position: relative
        color: inherit
        transition: all .35s ease !important
    &::before
        content: "[ "
        left: 0
    &::after
        content: " ]"
        right: 0
        background: none

    &:hover
        opacity: 1
        color: color(primary) !important
        &::before,
        &::after
            color: color(primary)
        &::before
            left: -3px
        &::after
            right: -3px
