// =============================================================================
// > TYPOGRAPHY - TITLES
// =============================================================================

.title
    font-weight: normal
    text-rendering: geometricPrecision
    margin: 1.5em 0 1em

    &--1
        +font(40px bold)

    &--2
        +font(35px bold)

    &--3
        +font(30px bold)

    &--4
        +font(24px bold)

    &--5
        +font(20px bold)

    &--6
        +font(16px bold)



// ==================================================
// > TAGS
// ==================================================
h1:not(.title)
    @extend .title
    @extend .title--1

h2:not(.title)
    @extend .title
    @extend .title--2

h3:not(.title)
    @extend .title
    @extend .title--3

h4:not(.title)
    @extend .title
    @extend .title--4

h5:not(.title)
    @extend .title
    @extend .title--5

h6:not(.title)
    @extend .title
    @extend .title--6