// =============================================================================
// > LAYOUTS: MODULES - GUI: BACKGROUNDS
// =============================================================================

// ==================================================
// > COLOR
// ==================================================
.bg-main
    background-color: $main

.bg-scnd
    background-color: $scnd

.bg-lgry
    background-color: $lgry

.bg-dgry
    background-color: $dgry

.bg-white
    background-color: white


// ==================================================
// > IMAGE
// ==================================================
.bg-image
    background: center center no-repeat

    &.size-cover
        background-size: cover

    &.position-left
        background-position-x: left

    &.position-right
        background-position-x: right

    &.position-top
        background-position-y: top

    &.position-bottom
        background-position-y: bottom