// =============================================================================
// > LAYOUTS: TEMPLATES - BASE
// =============================================================================
*
    outline: none
    box-sizing: border-box
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    // vertical-align: baseline
    // margin: 0
    // padding: 0
    // font-size: inherit
    // font-weight: normal

::selection
    background: $main
    color: white

html
    font-size: 16px
    background: white

html, body
    overflow-x: hidden
    line-height: 1.4

body
    +font(16px, $dgry, $font-regular)
    min-height: 100vh
    position: relative

#app
    min-height: 100%
    background: white
    overflow: hidden
    animation: fadeIn .5s linear


.container
    position: relative
    width: calc(100% - 40px)
    max-width: container(md)
    margin: auto

    @each $slug, $bp in $responsive
        &-#{slug}
            max-width: container($slug)

        +state($slug)
            max-width: container($slug)