// ==================================================
// > SINGLE
// ==================================================
.single-content
    padding: 40px 0
    overflow: hidden

    // ========== TIME ========== //
    time
        font-size: 16px
        font-size: 16rem
        font-family: $font-regular
        color: $dgry
        strong
            font-size: 45px
            font-size: 45rem
            display: block

    // ========== VISUAL ========== //
    .visual
        position: relative
        overflow: hidden
        float: left
        &:after
            content: ""
            height: 100px
            width: 100%
            background: white
            transform: skewY(5deg)
            position: absolute
            left: 0
            bottom: -50px