// =============================================================================
// > LAYOUTS : PARTS - INTRO
// =============================================================================

section
    padding: 60px 0

    &.large-padding
        padding: 100px 0

    &.small-padding
        padding: 20px 0

    &.no-padding
        padding: 0