// =============================================================================
// > LAYOUTS: MODULES - GUI: BACKGROUNDS
// =============================================================================


// ==================================================
// > GENERATED BACKGOUNDS COLOR CLASSES. Ex: .bg-primary
// ==================================================
@each $bp, $bp_data in $responsive
    +screen($bp)
        @each $color, $value in $colors
            .bg-#{"" + $color}#{screen_suffix($bp)}
                background-color: $value

            .bg-#{"" + $color}-hover#{screen_suffix($bp)}:hover
                background-color: $value

            .border-#{"" + $color}#{screen_suffix($bp)}
                border: 1px solid $value

        .no-background#{screen_suffix($bp)}
            background: none !important

.border-grey
    border: 1px solid #EBEBEB

// ==================================================
// > BACKGROUND IMAGE
// ==================================================
.bg-image
    background-position: center center
    background-repeat: no-repeat

@each $bp, $bp_data in $responsive
    +screen($bp)
        .bg-image
            &--cover#{screen_suffix($bp)}
                background-size: cover
            &--contain#{screen_suffix($bp)}
                background-size: contain
            &--left#{screen_suffix($bp)}
                background-position-x: left
            &--right#{screen_suffix($bp)}
                background-position-x: right
            &--top#{screen_suffix($bp)}
                background-position-y: top
            &--bottom#{screen_suffix($bp)}
                background-position-y: bottom

            &--left-top#{screen_suffix($bp)}
                background-position: left top
            &--center-top#{screen_suffix($bp)}
                background-position: center top
            &--right-top#{screen_suffix($bp)}
                background-position: right top
            &--left-center#{screen_suffix($bp)}
                background-position: left center
            &--center-center#{screen_suffix($bp)}
                background-position: center center
            &--right-center#{screen_suffix($bp)}
                background-position: right center
            &--left-bottom#{screen_suffix($bp)}
                background-position: left bottom
            &--center-bottom#{screen_suffix($bp)}
                background-position: center bottom
            &--right-bottom#{screen_suffix($bp)}
                background-position: right bottom