// =============================================================================
// > LAYOUTS: MODULES - GUI: BACKGROUNDS
// =============================================================================


// ==================================================
// > GENERATED BACKGOUNDS COLOR CLASSES. Ex: .bg-primary
// ==================================================
@each $bp, $bp_data in $responsive
    +screen($bp)
        @each $color, $value in $colors
            .bg-#{$color}#{screen_suffix($bp)}
                background-color: $value

            .bg-#{$color}-hover#{screen_suffix($bp)}:hover
                background-color: $value

            .border-#{$color}#{screen_suffix($bp)}
                border: 1px solid $value

// ==================================================
// > BACKGROUND IMAGE
// ==================================================
.bg-image
    background: center center no-repeat

    &--cover
        background-size: cover

    &--left
        background-position-x: left

    &--right
        background-position-x: right

    &--top
        background-position-y: top

    &--bottom
        background-position-y: bottom