// =============================================================================
// > TYPOGRAPHY
// =============================================================================

// ==================================================
// > GLOBAL MODIFIER
// ==================================================

@each $bp, $bp_data in $responsive
    +screen($bp)

        // ========== COLORS ========== //
        // Ex: .color-primary
        @each $color, $value in $colors
            .color-#{$color}#{screen_suffix($bp)}
                &, *
                    color: $value !important

            .color-hover-#{$color}#{screen_suffix($bp)}:hover
                &, *
                    color: $value !important

        // ========== FONT FAMILIES ========== //
        //: Ex:  .font-light
        @each $slug, $stack in $fonts-stacks
            .font-#{$slug}#{screen_suffix($bp)}
                font-family: $stack !important

        // ========== ALIGNMENTS ========== //
        .text-align-center#{screen_suffix($bp)}
            text-align: center

        .text-align-left#{screen_suffix($bp)}
            text-align: left

        .text-align-right#{screen_suffix($bp)}
            text-align: right


// ==================================================
// > INLINE
// ==================================================
strong,
b
    font-weight: normal
    +font(bold)