// =============================================================================
// > MODULE - INTERACTIVE : BUTTON
// =============================================================================
$button_base_color: color(secondary)

%button
    +font(16px 1.2 center white)
    position: relative
    display: inline-flex
    align-items: center
    z-index: 5
    border: 1px solid $button_base_color
    cursor: pointer
    padding: 10px 20px
    transition: all .35s ease

    &::before
        content: ""
        +size(100%)
        background: $button_base_color
        +absolute(top 0 left 0)
        z-index: -1
        transition: width .35s ease

    &:hover
        color: $button_base_color
        &::before
            width: 0
            left: 100%
            transition: all .35s ease


.button
    @extend %button

    // ========== SIZES ========== //
    &--fullwidth
        display: block
        width: 100%

    &--small
        +font(13px)
        padding: 5px

    &--big
        +font(20px bold)
        padding: 20px

    // ========== REVERSE ========== //
    &--reversed
        color: $button_base_color
        &::before
            width: 0
            left: 100%
            transition: width .35s ease, left 0s ease .35s
        &:hover
            +font(white)
            &::before
                width: 100%
                left: 0

    // ========== COLORS ========== //
    @each $color, $value in $colors
        &--#{$color}
            border-color: $value
            &::before
                background: $value
            &:hover
                color: $value
        &--#{$color}.button--reversed
            color: $value
            &:hover
                color: white

    // ========== ICONS ========== //
    .fa
        margin-right: .5em