//- =============================================================================
//- > VIEW MIXIN - CONTENTS
//- =============================================================================

mixin content(c)

    case $c["acf_fc_layout"]

        //- ==================================================
        //- > TEXT
        //- ==================================================
        when "txt"
            != $c["txt"]


        //- ==================================================
        //- > IMAGE
        //- ==================================================
        when "image"
            .image-block(class="image-block--justify-{$c['halign']} image-block--align-{$c['valign']} image-block--size-{$c['size']}")
                != $_imgtag($c["image"])


        //- ==================================================
        //- > INSERT
        //- ==================================================
        when "insert"
            article.insert(class="bg-{$c['bg']} border-{$c['border']} color-{$c['color']}")
                != $c["content"]


        //- ==================================================
        //- > ELEVATOR
        //- ==================================================
        when "collapsable"
            .collapsable
                .collapsable__header!= $c["title"]
                .collapsable__content!= $c["content"]


        //- ==================================================
        //- > ARCHIVE
        //- ==================================================
        when "archive"
            case $c["type"]

                //- News
                when "news"
                    +archive-news($c["posts"], $c["walker"])