//- =============================================================================
//- > LIST OF ALL VIEW MIXINS
//- =============================================================================

include _sections
include _contents

//- ==================================================
//- > ARCHIVES
//- ==================================================
include archives/_archive-news

//- ==================================================
//- > CARDS
//- ==================================================
include cards/_card-news

//- ==================================================
//- > NAVIGATION
//- ==================================================
include navigation/_social
include navigation/_pagination
include navigation/_singlenav