//- =============================================================================
//- > VIEW : INCLUDE - SECTIONS
//- =============================================================================

each s in sections

    section(class=s.classes)&attributes(s.attr)

        - var contents = s.content

        include _contents