// =============================================================================
// > LAYOUT : SITE INTRO
// =============================================================================

.site-intro
    position: relative
    &::before
        content: ""
        @extend %cover
        background: color(black, .25)
        z-index: 5
