//- =============================================================================
//- > VIEW MIXIN - ARCHIVE FILTERS
//- =============================================================================

mixin archive-filters(filters)

    form.archive-filters(method="GET" action=$filters["action"])&attributes($attributes)

        for $field in $filters["fields"]

            fieldset.archive-filters__set

                if $field["label"]
                    label.archive-filters__label!= $field["label"]

                case $field["type"]

                    //- ==================================================
                    //- > TEXT
                    //- ==================================================
                    when "text"
                        input(name=$field["name"] value=$field["value"] type="text")

                    //- ==================================================
                    //- > SEARCH
                    //- ==================================================
                    when "search"
                        .form__input--search
                            input(name=$field["name"] value=$field["value"] type="search" placeholder=$field["placeholder"])

                    //- ==================================================
                    //- > SELECT
                    //- ==================================================
                    when "select"
                        select(name=$field["name"] value=$field["value"] append autosubmit)
                            each $l, $v in $field["options"]
                                option(value=$v)!= $l