// ==================================================
// > TITLES
// ==================================================
h1, h2, h3, h4, h5, h6
    color: $main
    font-weight: normal
    text-rendering: geometricPrecision
    margin-top: 1em
    font-family: $font-bold

h1,
h2,
h3
    font-size: 40px
    font-size: 40rem
    text-transform: uppercase

h2
    font-size: 35px
    font-size: 35rem

h3
    font-size: 30px
    font-size: 30rem

h4
    font-size: 24px
    font-size: 24rem

h5
    font-size: 20px
    font-size: 20rem
    font-family: $font-bold

h6
    font-size: 16px
    font-size: 16rem
    font-family: $font-regular


// ========== SUBTITLE ========== //
.subtitle
    font-size: .8em

// ========== LINE THROUGH ========== //
.line-through
    position: relative
    span
        position: relative
        z-index: 10
        padding: 0 10px
        margin-left: -10px
    &:before
        content: ""
        z-index: 0
        height: 1px
        width: 9999px
        position: absolute
        left: -5000px
        top: 50%
        background: $main
