// =============================================================================
// > MODULES: TXT - TITLES
// =============================================================================

h1, h2, h3, h4, h5, h6
    font-weight: normal
    text-rendering: geometricPrecision
    margin-top: 1em

h1
    +font(40px, $main, $font-bold)

h2
    +font(35px, $main, $font-bold)

h3
    +font(30px, $main, $font-bold)

h4
    +font(24px, $main, $font-bold)

h5
    +font(20px, $main, $font-bold)

h6
    +font(16px, $main, $font-bold)


// ========== SUBTITLE ========== //
.subtitle
    font-size: .8em

// ========== LINE THROUGH ========== //
.line-through
    position: relative
    span
        position: relative
        z-index: 10
        padding: 0 10px
        margin-left: -10px
    &:before
        content: ""
        z-index: 0
        height: 1px
        width: 9999px
        position: absolute
        left: -5000px
        top: 50%
        background: $main
