//- =============================================================================
//- > VIEW : 404
//- =============================================================================
extends templates/_base

//- ==================================================
//- > INTRO
//- ==================================================
block intro
    .site-intro.page404__intro
        h1 Erreur 404

//- ==================================================
//- > SECTIONS
//- ==================================================
block sections
    .page404__main: .container

        p
            | Cette page n'existe pas <br>
            a(href=site.url) &#8592; Retour à l'accueil



        h2.title.title--two Faire une recherche

        form(action=site.url)
            input(name="s" value=lookfor)