//- =============================================================================
//- > VIEW : 404
//- =============================================================================
extends templates/_base

//- ==================================================
//- > INTRO
//- ==================================================
block intro_content
    h1!= __("Erreur 404", "syltaen")

//- ==================================================
//- > SECTIONS
//- ==================================================
block sections
    section.site-section.md-padding-vertical.bg-white: .container

        p.text-align-center
            != __("Cette page n'existe pas", "syltaen")
            br
            a(href=site.url)
                | &#8592;&nbsp;
                != __("Retour à l'accueil", "syltaen")
