extends templates/_base

block main


    //- ==================================================
    //- > INTRO
    //- ==================================================
    section#hp-intro
        .bg(style="background-image: url(".$intro_image['url'].");")
        .content!= intro_content

    //- ==================================================
    //- > GROUP
    //- ==================================================
    section#hp-group

