extends templates/_base

block main

    //- ==================================================
    //- > INTRO
    //- ==================================================
    section.page-intro
        .container
            != intro_content


    //- ==================================================
    //- > SECTIONS
    //- ==================================================
    block content
        include parts/_sections