//- =============================================================================
//- > VIEW MIXIN - GUI - ICON
//- =============================================================================

mixin icon(icon)

    if $icon
        i.icon(class=$icon->prefix)&attributes($attributes)
            != $icon->unicode