// =============================================================================
// > LAYOUTS: MODULES - FORMS
// =============================================================================

form
    hr
        margin: 50px 0
        height: 0
        margin-bottom: 1px solid $scnd

    .hidden-wrap
        display: none

    *
        outline: 0

    &.loading
        position: relative
        &:before
            content: "\f1ce"
            font-family: $font-fa
            +absolute(right 0 bottom 0)
            +size(50px)
            line-height: 50px
            text-align: center
            margin-left: -25px
            margin-top: -25px
            animation: spin 2s linear infinite
            transform: rotate(0deg)

// ==================================================
// > DISABLED
// ==================================================
form *[disabled],
form  *[disabled="disabled"],
form .disabled,
.logged-in .logged-disabled
    background: $lgry
    opacity: .75
    pointer-events: none


// ==================================================
// > ERRORS
// ==================================================
fieldset.error label, .error-message
    color: red

// ==================================================
// > FIELDSET
// ==================================================
fieldset
    margin-bottom: 20px

// ==================================================
// > LABEL
// ==================================================
label
    +font(15px, null, $font-regular)
    +truncate(100%)
    font-weight: normal
    cursor: pointer
    height: 24px
    margin-bottom: 5px
    text-transform: none

// ==================================================
// > PLACEHOLDERS
// ==================================================
input
    +placeholder
        +font(null, rgba($dgry, .5), $font-light)

// ==================================================
// > INPUT
// ==================================================
input
    +size(100%, 48px)
    +font(16px, inherit, null, 48px)
    background: none
    padding: 0 20px
    resize: none
    border: 1px solid lighten($dgry, 50%)
    &.no-border
        border: 0

// ==================================================
// > TEXTAREA
// ==================================================
textarea
    @extend input
    min-height: 250px
    padding: 10px 20px
    line-height: 1.4
    display: block
    margin: 0


// ==================================================
// > RADIO / CHECKBOX
// ==================================================
input[type="radio"],
input[type="checkbox"]
    +size(14px)
    appearance: none
    position: relative
    margin: 8px 5px 0
    padding: 0
    border: 0
    &:before
        content: "\f096"
        +font(16px, $main, $font-fa, 20px)
        +absolute(top 0 left 0)
        height: 14px
        line-height: 20px

    &:checked:before
        content: "\f046"

input[type="radio"]
    border: 2px solid $main
    border-radius: 50%
    &:before
        content: ""
        +size(6px)
        +absolute(top 50% left 50%)
        opacity: 0
        background: $main
        border-radius: 50%
        margin-top: -3px
        margin-left: -3px
    &:checked:before
        content: ""
        opacity: 1


// ==================================================
// > SUBMIT
// ==================================================
input[type="submit"],
input[type="button"]
    @extend .button
    background: $main
    color: white
    height: 50px
    float: right
    font-family: $font-regular
    cursor: pointer
    text-transform: uppercase
    margin-top: 20px !important
    clear: both

    &:hover
        background: white
        color: $main
        border: 2px solid $main


// ==================================================
// > SELECT
// ==================================================
// -> See _select2.sass


// ==================================================
// > UPLOAD
// ==================================================
// -> See _dropzone.sass


