// =============================================================================
// > LAYOUTS: MODULES - FORMS: PICKADAY
// =============================================================================

.pika-date-choice
    position: relative
    &:before
        content: "\f073"
        font-family: $font-fa
        color: $main
        padding-right: 10px
    .value.placeholder
        opacity: .5
    &.open .pika-single
        opacity: 1
        visibility: visible


.pika-single
    position: absolute
    top: 30px
    right: 0
    opacity: 0
    visibility: hidden
    border: 0
    border-bottom-left-radius: 25px
    border-bottom-right-radius: 25px
    padding: 0 10px 10px
    overflow: hidden
    width: 300px
    .pika-lendar
        width: 100%
        margin: 0

    .pika-title
        +font(16px, white)
        background: $main
        text-transform: uppercase
        margin: 0 -10px
        .pika-label
            background: none
            color: inherit

    .pika-table
        margin: 0
        background: white
        padding: 0 10px
        th
            +font(11px, $main)
            background: none
            text-transform: uppercase
            border-bottom: 2px solid #e3e3e3
        td
            border: 0
            .pika-button
                +font(16px, $main, $font-bold, 20px)
                text-align: center
                background: white
            &.is-selected .pika-button
                background: $main
                border-radius: 0
                box-shadow: none
                color: white