// ==================================================
// > FONTS
// ==================================================
$font-thin:    'Roboto-Thin', 'Roboto-Light', 'Helvetica', 'Arial', sans-serif
$font-light:   'Roboto-Light', 'Roboto-Thin', 'Helvetica', 'Arial', sans-serif
$font-regular: 'Roboto-Regular', 'Roboto-Medium', 'Helvetica', 'Arial', sans-serif
$font-medium:  'Roboto-Medium', 'Roboto-Regular', 'Helvetica', 'Arial', sans-serif
$font-bold:    'Roboto-Bold', 'Roboto-Black', 'Helvetica', 'Arial', sans-serif
$font-black:   'Roboto-Black', 'Roboto-Bold', 'Helvetica', 'Arial', sans-serif
$font-fa:      'FontAwesome'

// ==================================================
// > COLORS
// ==================================================
$lgry : #eeeeee
$dgry : #3b3b3b
$black: #111

$main : #e5c02a
$scnd : $lgry
