//- =============================================================================
//- > VIEW MIXIN - ICONS
//- =============================================================================

mixin icons(icons)

    ul.icons&attributes($attributes)

        each $icon in $icons
            li.icons__item

                a.icons__link(
                    href=$icon["link"]["url"]
                    target=$icon["link"]["target"]
                    title=$icon["link"]["title"]
                    onclick=$icon["link"]["target"]=="popup"?"window.open('".$icon["link"]["url"]."','popup','width=600,height=600'); return false;":""
                )
                    i.icons__icon(class=$icon["icon"]->prefix)
                        != $icon["icon"]->unicode