// =============================================================================
// > LAYOUTS: MODULES - NAVIGATION: PAGINATION
// =============================================================================

.pagination-walker
    text-align: center
    padding: 40px 0

    // ========== DIRECTIONS ========== //
    &__direction
        +size(58px)
        +font(24px 54px primary fa center)
        position: relative
        border-radius: 50%
        border: 2px solid color(primary)
        display: inline-block
        text-indent: -9999px
        transition: all .25s ease
        margin: 0 10px

        &::before
            +font(fa)
            text-indent: 0
            @extend %cover
        &--first:before
            content: $fa-var-angle-double-left
        &--previous:before
            content: $fa-var-angle-left
        &--next:before
            content: $fa-var-angle-right
        &--last:before
            content: $fa-var-angle-double-right

        &--first,
        &--last
            +size(40px)
            +font(18px 35px)

        &:hover
            color: white
            border-color: color(primary)
            background: color(primary)

        &[disabled]
            border-color: darken(color(primary), 20%)
            color: darken(color(primary), 20%)
            background: none
            opacity: .2

    // ========== PAGES ========== //
    &__pagelist
        display: inline-block

        li
            display: inline-block
            position: relative

            a,
            .current
                +font(20px dark-grey bold)
                padding: 0 30px
            .current
                +font(primary)

            &:after
                content: ""
                +size(20px, 2px)
                background: darken(color(light-grey), 20%)
                +absolute(right -10px top 50%)
                margin-top: -1px

            &:last-child:after
                display: none


