// =============================================================================
// > LAYOUTS: MODULES - NAVIGATION: SCROLL TOP
// =============================================================================

#scroll-top
    +size(50px)
    +font(24px, white, null, 50px)
    +fixed(right 40px bottom 40px)
    background: $main
    z-index: 9999
    border-radius: 3px
    cursor: pointer
    transform: translateY(100px)
    transition: all .35s ease
    text-align: center
    box-shadow: 0 0 3px 0 rgba(black, 0)

    &:hover
        background: white
        color: $main
        border-color: $main
        box-shadow: 0 0 3px 0 rgba(black, .2)

    &:before
        content: "\f106"
        font-family: $font-fa

    &.shown
        transform: translateY(0)