// =============================================================================
// > NAVIGATION : SINGLE NAV
// =============================================================================

.single-nav

    text-align: center
    margin: 50px 0

    li
        display: inline

        a
            +font(dary-grey)
            border-right: 1px solid color(dary-grey)
            padding: 0 10px
            background: none
            &.link-archive
                +font(bold)
            &.disabled
                opacity: .25
            &:hover
                text-decoration: none
                color(primary)

        &:last-child a
            border-right: 0