//- =============================================================================
//- > VIEW MIXIN - NEWS ARCHIVE
//- =============================================================================

mixin archive-news(posts, walker=false)

    .archive.archive--news

        ul.archive__list
            each $news in $c["posts"]
                li.archive__item
                    +card-news($news)

        +pagination($walker).archive__walker.archive__walker--bottom