include ../mixins/_mixins
doctype

html(lang=$site["language"])

    //- =============================================================================
    //- > HEAD
    //- =============================================================================
    head
        meta(charset=$site["charset"])
        //- meta(name="description" content=$site["description"])
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        = wp_head()
        block head

    //- =============================================================================
    //- > BODY
    //- =============================================================================
    body(class=$site["body_class"])

        //- ==================================================
        //- > SITE
        //- ==================================================
        block site
            .site

                //- ==================================================
                //- > HEADER
                //- ==================================================
                block header
                    header(role="navigation").site-header: .container

                        .row.flex-justify-space-between.flex-align-center.no-gutters
                            a.site-header__brand(href=$site["url"] rel="home")= $site["name"]

                            .row.flex-justify-space-between.flex-justify-align-center.no-gutters
                                form.site-header__search.mr-3(action=$site["url"])
                                    input.site-header__search__field(name="s" value=\Syltaen\Route::query("s") placeholder=__("Recherche", "syltaen"))
                                    button.site-header__search__submit!= __("Rechercher", "syltaen")

                                +icons($site["header"]["social"], "header", "site-header__social")

                        nav.site-header__nav.row.flex-justify-space-between.flex-align-center.no-gutters
                            != $site["menus"]["main"]

                //- ==================================================
                //- > CONTENT
                //- ==================================================
                block main
                    main.site-main(role="main")

                        //- ========== INTRO ========== -//
                        block intro
                            if !empty($intro_image) || !empty($intro_content)
                                section.site-intro(style=$intro_image?"background-image: url(".$intro_image.")":"")
                                    != $intro_content

                        //- ========== BREADCRUMB ========== -//
                        block breadcrumb
                            if !empty($site["breadcrumb"])
                                .container.breadcrumb-container!= $site["breadcrumb"]

                        //- ========== CONTENT ========== -//
                        block sections
                            +sections($sections)


                //- ==================================================
                //- > FOOTER
                //- ==================================================
                block footer
                    footer.site-footer(role="contentinfo")
                        .site-footer__top: .container!= $site["footer"]["footer_content"]

                        .site-footer__bottom: .container.row.flex-justify-space-between.flex-align-center.column-xs
                            != $site["menus"]["footer"]
                            p.site-footer__copyright!= $site["footer"]["copyright"]


        //- ==================================================
        //- > MOBILE NAVIGATION
        //- ==================================================
        button.site-mobilenav__trigger
            span
            span
            span

        .site-mobilenav
            nav.site-mobilenav__nav!= $site["menus"]["mobile"]

        //- ==================================================
        //- > ERROR & SUCCESS MESSAGES
        //- ==================================================
        block messages
            if !empty($error_message)
                p.site-message.site-message--error.color-white
                    span.site-message__close
                    != $error_message

            if !empty($success_message)
                p.site-message.site-message--success.color-white
                    span.site-message__close
                    != $success_message


        //- ==================================================
        //- > OVERLAYS
        //- ==================================================
        #scroll-top

        = wp_footer()