include ../mixins/_mixins
doctype

html.acf-preview

    //- =============================================================================
    //- > HEAD
    //- =============================================================================
    head
        meta(charset="UTF-8")
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        = wp_head()

        link(rel="stylesheet" href=\Syltaen\Files::url("build/css/bundle.css"))


        block head
    body
        +sections($sections)


        = wp_footer()
        script(src=\Syltaen\Files::url("build/js/bundle.js"))