//- =============================================================================
//- > MIXIN : FORM FIELDSET
//- =============================================================================

mixin fieldset(form, name, label = false)

    fieldset(class=$form["hidden"]->hasValue($name)?"is-hidden":"" class=$form["errors"]->get($name)?"has-error":"")&attributes($attributes)

        if $label
            label(class=!empty($form["locks"][$name])?"is-locked":"")!= $label

        if $form["locks"]->get($name)
            p.input.input--lock.no-margin
                input(type="hidden" name=$name value=$form["locks"]->get($name))

                if $form["options"]->get($name)[$form["locks"]->get($name)]
                    != $form["options"]->get($name)[$form["locks"]->get($name)]
                else
                    != $form["locks"]->get($name)

        else
            block
                //- The field

            p.form__error!= $form["errors"]->get($name)