//- =============================================================================
//- > MIXIN : FORM FIELD - RADIO
//- =============================================================================

mixin field-radio-options($options, $form, $name, $field_attributes, $options_attributes)
    ul&attributes($attributes)
        each $label, $value in $options

            li.gr-none&attributes((array) ($_set($options_attributes)->get($value) ?: []))

                label.choice-label

                    input(
                        type="radio"
                        name=$name
                        value=$value
                        checked=$form["prefill"]->get($name)==$value
                    )&attributes($field_attributes)

                    //- Label
                    != is_array($label) ? $label[0] : $label

                //- Has children
                if is_array($label) && !empty($label[1])
                    +field-radio-options($label[1], $form, $name, $field_attributes, $options_attributes)&attributes($attributes)

mixin field-radio(form, name, label = false, layout = "column", field_attributes = [], options_attributes = [])

    +fieldset($form, $name, $label)&attributes($attributes)

        if !empty($form["options"]->get($name))
            +field-radio-options($form["options"]->get($name), $form, $name, $field_attributes, $options_attributes)(class=$layout)

        block