//- =============================================================================
//- > MIXIN : FORM FIELD - SELECT
//- =============================================================================

mixin field-select(form, name, label = false, field_attributes = false, $html_options = false)

    +fieldset($form, $name, $label)&attributes($attributes)
        select(
            name=$name
            min-input-length="0"
            data-options=$html_options?$form["options"]->get($name):false
            value=$html_options?$form["prefill"]->get($name):false
        )&attributes($field_attributes)

            //- clearable="1"
            //- source="source"
            //- multiple="1"
            //- tags="1"

            unless $html_options
                block

                if !empty($form["options"]->get($name))
                    each $label, $value in $form["options"]->get($name)
                        option(title=$label value=$value selected=in_array($value, (array) $form["prefill"]->get($name)))!= $label

                else if !empty($form["prefill"]->get($name))
                    option(value=$form["prefill"]->get($name))
                        != get_the_title($form["prefill"]->get($name))