//- =============================================================================
//- > MIXIN : FORM FIELDS - ADDRESS
//- =============================================================================

mixin fields-address(form, field_attributes = false)

    +fieldset($form, "address_street", "Address")&attributes($attributes)
        input(type="text" placeholder="Rue et numéro" name="address_street" value=$form["prefill"]["address_street"]??"")&attributes($field_attributes)

    .row

        +fieldset($form, "address_zip")&attributes($attributes).gr
            input(type="text" placeholder="Code postal" name="address_zip" value=$form["prefill"]["address_zip"]??"")&attributes($field_attributes)

        +fieldset($form, "address_city")&attributes($attributes).gr-2
            input(type="text" placeholder="Ville" name="address_city" value=$form["prefill"]["address_city"]??"")&attributes($field_attributes)

    +fieldset($form, "address_country")&attributes($attributes)
        input(type="text" placeholder="Pays" name="address_country" value=$form["prefill"]["address_country"]??"")&attributes($field_attributes)

    block