//- =============================================================================
//- > MIXIN : FORM FIELD - TEXTAREA
//- =============================================================================

mixin field-textarea(form, name, label = false, field_attributes = false)

    +fieldset($form, $name, $label)&attributes($attributes)
        textarea(name=$name)&attributes($field_attributes)
            != $form["prefill"]->get($name) ?: ""
        block