//- =============================================================================
//- > MIXIN : FORM FIELD - PASSWORD
//- =============================================================================

mixin field-password(form, name, label = false, field_attributes = false)

    +fieldset($form, $name, $label)&attributes($attributes)
        input(type="password" name=$name value=$form["prefill"]->get($name))&attributes($field_attributes)
        block