//- =============================================================================
//- > MIXIN : FORM FIELD - PASSWORD
//- =============================================================================

mixin radio-field(form, label, name, layout = "vertical")

    +fieldset($form, $label, $name)&attributes($attributes)
        if !empty($form["options"][$name])
            ul(class=$layout=="vertical"?"column":"row-wrap").xs-margin-top.xs-padding-left
                each $label, $value in $form["options"][$name]
                    li.gr-none: label.choice-label
                        input(type="radio" name=$name value=$value checked=!empty($form["prefill"][$name]) && $form["prefill"][$name]==$value)
                        != $label