//- =============================================================================
//- > MIXIN : FORM FIELD - PASSWORD
//- =============================================================================

mixin select-field(form, label, name, source = false)

    +fieldset($form, $label, $name)&attributes($attributes)
        select(name=$name data-source=$source data-min-input-length="0" value=$form["prefill"][$name]??"")

            if !empty($form["options"][$name])
                each $label, $value in $form["options"][$name]
                    option(value=$value)!= $label

            else if !empty($form["prefill"][$name])
                option(value=$form["prefill"][$name])
                    != get_the_title($form["prefill"][$name])