//- =============================================================================
//- > MIXIN : FORM FIELD - UPLOAD
//- =============================================================================

mixin upload-field(form, label, name, folder, message, attachment="1", maxupload="8")

    +fieldset($form, $label, $name)
        input(
            type="file"
            name=$name
            maxupload=$maxupload
            data-attachment=$attachment
            data-folder=$folder
            data-label=$message
            data-value=$form["prefill"][$name]??""
        )