//- =============================================================================
//- > VIEW MIXIN - CARD NEWS
//- =============================================================================

mixin card-news(news)

    .card-news.button__parent

        .card-news__visual(href=$news->url style=$news->thumb->bg())
            != $news->thumb->tag()

        .card-news__content
            p.text-small
                i.fa.fa-folder.xs-margin-right
                != $news->news_type->getLinks()->join(", ")

            time= $_date("d/m/Y", $news->post_date)

            h2.h2.card-news__title= $news->post_title
            p.card-news__excerpt= $news->post_excerpt
            a.button(href=$news->url)!= __("Lire plus", "syltaen")