// =============================================================================
// > ADMIN STYLES
// =============================================================================

@import "./assets/variables"
@import "./assets/utils"

// ==================================================
// > THEME
// ==================================================
.admin-color-fresh,
.logged-in.admin-bar
    #wp-admin-bar-site-name > a:before
        content: "" !important
        height: 32px
        width: 32px
        margin: -2px 5px 0 0
        padding: 0
        background: img("admin_logo.png") center center / contain no-repeat !important

    #wp-admin-bar-wp-logo,
    #wp-admin-bar-comments,
    #wp-admin-bar-updates,
    #wp-admin-bar-new-post,
    .update-plugins
        display: none !important

    #adminmenu,
    #adminmenuback,
    #adminmenuwrap
        background: #333

    #adminmenu .wp-submenu
        background: #444

    #adminmenu div.wp-menu-image:before,
    #adminmenu li a:focus div.wp-menu-image:before, #adminmenu li.opensub div.wp-menu-image:before, #adminmenu li:hover div.wp-menu-image:before
        color: #555
    #adminmenu .current div.wp-menu-image:before, #adminmenu .wp-has-current-submenu div.wp-menu-image:before, #adminmenu a.current:hover div.wp-menu-image:before, #adminmenu a.wp-has-current-submenu:hover div.wp-menu-image:before, #adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image:before, #adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image:before, #adminmenu li.wp-has-current-submenu:hover div.wp-menu-image:before
        color: white

    #adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head,
    #adminmenu .wp-menu-arrow,
    #adminmenu .wp-menu-arrow div,
    #adminmenu li.current a.menu-top,
    #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
    .folded #adminmenu li.current.menu-top,
    .folded #adminmenu li.wp-has-current-submenu
        background: color(primary)

    #wpadminbar .ab-top-menu>li.hover>.ab-item,
    #wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus,
    #wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item,
    #wpadminbar:not(.mobile) .ab-top-menu>li>.ab-item:focus,
    #wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover>a,
    #wpadminbar .quicklinks .menupop ul li a:focus,
    #wpadminbar .quicklinks .menupop ul li a:focus strong,
    #wpadminbar .quicklinks .menupop ul li a:hover,
    #wpadminbar .quicklinks .menupop ul li a:hover strong,
    #wpadminbar .quicklinks .menupop.hover ul li a:focus,
    #wpadminbar .quicklinks .menupop.hover ul li a:hover,
    #wpadminbar .quicklinks .menupop.hover ul li div[tabindex]:focus,
    #wpadminbar .quicklinks .menupop.hover ul li div[tabindex]:hover,
    #wpadminbar li #adminbarsearch.adminbar-focused:before,
    #wpadminbar li .ab-item:focus .ab-icon:before,
    #wpadminbar li .ab-item:focus:before,
    #wpadminbar li a:focus .ab-icon:before,
    #wpadminbar li.hover .ab-icon:before,
    #wpadminbar li.hover .ab-item:before,
    #wpadminbar li:hover #adminbarsearch:before,
    #wpadminbar li:hover .ab-icon:before,
    #wpadminbar li:hover .ab-item:before,
    #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
    #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
    #wpadminbar:not(.mobile)>#wp-toolbar a:focus span.ab-label,
    #wpadminbar:not(.mobile)>#wp-toolbar li:hover span.ab-label,
    #wpadminbar>#wp-toolbar li.hover span.ab-label
        color: color(primary)


    #adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover, #adminmenu a:hover, #adminmenu li.menu-top>a:focus,
    #adminmenu li.menu-top:hover, #adminmenu li.opensub>a.menu-top, #adminmenu li>a.menu-top:focus,
    #collapse-button:focus, #collapse-button:hover
        color: color(primary)


    &.wp-core-ui .button-primary
        background: color(primary)
        border-color: darken(color(primary), 5%) darken(color(primary), 10%) darken(color(primary), 10%)
        box-shadow: 0 1px 0 darken(color(primary), 10%)
        text-shadow: 0 -1px 1px darken(color(primary), 10%), 1px 0 1px darken(color(primary), 10%), 0 1px 1px darken(color(primary), 10%), -1px 0 1px darken(color(primary), 10%)
        color: white
        &:hover
            background: darken(color(primary), 5%)

    &.wp-core-ui .button.button-primary.button-hero
        box-shadow: 0 2px 0 darken(color(primary), 10%)

// ==================================================
// > ADMIN BAR
// ==================================================
#wp-admin-bar-wpfc-toolbar-parent > .ab-empty-item::before
    content: "\f469" !important
    top: 2px

#wp-admin-bar-new_draft,
#wp-admin-bar-customize
    display: none


// ==================================================
// > NINJA FORM
// ==================================================
.ninja-forms-no-nest
    margin-left: 40px

.nf-app-area
    overflow: hidden

.nf-field-wrap
    position: relative
    &.fieldopentag,
    &.fieldclosetag,
    &.fieldrepeater
        margin-left: -5px
        padding: 5px 5px 0 5px
        position: relative
        & > div
            // opacity: 0.5
            +font(12px #1ea9ea)
        &::after
            content: ""
            +size(1px, 9999px)
            background: #1ea9ea
            +absolute(top 100% left 10px)
            margin-top: 1px

        .nf-item-controls
            top: 0px

        &.active
            border: 1px solid transparent !important
            box-shadow: 0 0 5px #1ea9ea

    &.fieldclosetag
        .nf-field-label
            display: none
        &::after
            background: white



    &.fieldstep
        margin: 50px 0 0 -60px
        padding-bottom: 5px
        background: #1ea9ea
        color: white !important
        +font(20px)
        position: relative
        &:first-child
            margin-top: 0
        &::after
            content: ""
            +size(5px, 9999px)
            background: color(light-grey)
            +absolute(top 100% left 10px)
            margin-top: 2px

    &.fieldrepeater
        & > div
            color: #95C11F
        &::after
            background: #95C11F


.button.nf-insert-form
    display: none !important


// ==================================================
// > ACF
// ==================================================
.acf-ui-datepicker #ui-datepicker-div
    display: none

.acf-horizontal-repeater

    & > .acf-input > .acf-repeater
        padding-right: 10px

        & > .acf-table > tbody
            +flex(row nowrap)
            & > .acf-row:not(.acf-clone)
                flex: 1
                &,
                & > .acf-fields
                    +flex(column nowrap)

            & > .acf-row
                &,
                & > td
                    width: 100% !important
                    box-sizing: border-box
                    & > .acf-field
                        width: 100%  !important
                        height: auto !important

                & > td > .acf-icon
                    &.-plus
                        left: -9px
                        top: 6px
                    &.-minus
                        left: 50%

            & > tr
                & > td
                    border-width: 0 0 0 1px
                &:first-child > td
                    border-width: 0


        & > .acf-actions
            +absolute(top 50% right -10px)
            .button
                overflow: hidden
                text-shadow: none
                +font(primary)
                +size(30px)
                position: relative
                border-radius: 50%
                &::before
                    content: "+"
                    +absolute(top 0 left 0)
                    +size(100%)
                    +font(20px white center)

.acf-page-sections > .acf-input > .acf-repeater
    padding-left: 50px
    & > .acf-table > tbody > .acf-row
        position: relative
        & > td
            border-bottom: 20px solid color(light-grey)
        & > .acf-fields.-sidebar
            position: static
            height: auto !important
            padding: 0 !important
            &::before
                content: none
            & > .acf-tab-wrap.-left > .acf-hl.acf-tab-group
                width: 50px
                // left: -84px
                & > li
                    a
                        display: block
                        text-indent: -9999px
                        +size(50px, 40px)
                        position: relative
                        padding: 0
                        border: 0
                        +font(20px 40px medium-grey center)
                        &:hover
                            +font(text)
                        &::before
                            +absolute(top 0 left 0)
                            +size(100%)
                            text-indent: 0
                    &:nth-child(1) a::before
                        +fa(align-left)
                    &:nth-child(2) a::before
                        +fa(paint-brush)
                    &:nth-child(3) a::before
                        +fa(cog)
                    &.active a
                        +font(primary)


// ==================================================
// > EDITOR
// ==================================================
#tinymce
    padding: 20px
    *:first-child
        margin-top: 0

// ==================================================
// > LOGIN
// ==================================================
body.login
    h1 a
        background: img("admin_logo.png") center center / contain no-repeat !important
        background-size: contain
        width: 200px
        height: 200px
        pointer-events: none
        &::after
            content: none
    form
        border-radius: 5px

    #wp-submit
        display: block
        +size(100%, 48px)
        height: 48px !important
        margin: 40px auto 0
        padding: 0 20px
        background: color(primary)
        box-shadow: none
        border: 2px solid color(primary)
        border-radius: 5px
        resize: none
        +font(16px 42px white bold uppercase)
        text-shadow: none
        cursor: pointer
        transition: all .4s ease

        &:hover,
        &:focus
            background: white
            color: color(primary)

    #nav, #backtoblog
        text-align: center
        a
            +font(14px white)
            &::after
                bottom: -4px
                background: white


// ==================================================
// > USER FORM
// ==================================================
#profile-page
    .user-rich-editing-wrap,
    .user-admin-color-wrap,
    .user-comment-shortcuts-wrap,
    // .show-admin-bar,
    .user-language-wrap,
    .user-url-wrap,
    .user-googleplus-wrap,
    .user-twitter-wrap,
    .user-facebook-wrap,
    .user-description-wrap,
    .user-profile-picture,
    .yoast-settings,
    #fieldset-billing,
    #fieldset-shipping,
    #qtranslate_highlight_enabled,
    h2,
    h3
        display: none


#wpadminbar
    position: fixed !important

